{% extends '::base_admin.html.twig' %}

{% block body %}
    <div class="sep"></div>
    {% include 'AdminAdminBundle:Default:_extern_ann.html.twig' %}
    <h1>Anunturi 999</h1>
    <div class="sep"></div>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Pret
            </th>
            <th>
                Adaugat
            </th>
            <th>
                Operatiuni
            </th>
        </tr>
        {% for item in ann %}
            <tr>
                <td>
                    <span style="font-size: 11px;" class="ann_id">{{ item.id }}</span>
                </td>
                <td>
                    <span style="font-size: 11px;" class="ann_title">{{ item.title }}</span>
                </td>
                <td>
                    <span style="font-size: 11px;" class="ann_desc">{{ item.description }}</span>
                </td>
                <td>
                    <span style="font-size: 11px;"><span class="ann_price">{{ item.price }}</span>&euro;</span>
                </td>
                <td>
                    <span style="font-size: 11px;" class="ann_date">{{ item.date|date('Y-m-d') }}</span>
                </td>
                <td width="155">
                    <ul class="nav nav-pills" style="margin:0">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                Options
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" onclick="return confirm('Confirmati?')"><i class="icon-plus"></i>&nbsp;Add</a></li>
                                <li><a href="" onclick="return confirm('Confirmati?')"><i class="icon-zoom-in"></i>&nbsp;Check user/phone</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('AdminAdminBundle_delete_contacts') }}?contact_id={{ item.id }}" onclick="return confirm('Confirmati?')"><i class="icon-trash"></i>&nbsp;Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}