{% extends '::base_admin.html.twig' %}

{% block body %}
    <div class="sep"></div>
    <h1>Ultimile anunturi: Inchiriez</h1>
    <div class="sep"></div>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                Titlu
            </th>
            <th>
                Data Adaugarii
            </th>
            <th>
                Pret
            </th>
            <th>
                Operatiuni
            </th>
        </tr>
        {% for item in paginator %}
            <tr>
                <td>
                    <a href="{{ path('DauDauBundle_inchiriez_details', { 'id': item.id, 'title_slug':item.titleslug }) }}" class="ann_link">{{item.title|truncate(0, 60, '...')|no_title}}</a>
                </td>
                <td class="ann_details">
                    {{item.added|date('Y-m-d')}}
                </td>
                <td class="ann_details">
                    {{item.price}} euro
                </td>
                <td width="155">
                    <ul class="nav nav-pills" style="margin:0">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                Options
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('AdminAdminBundle_delete_inchiriez') }}?ann_id={{ item.id }}" onclick="return confirm('Confirmati?')"><i class="icon-trash"></i>&nbsp;Sterge</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    {% if paginator.haveToPaginate %}
        <div class="sep"></div>
        <div class="pagination">
            {% if paginator.getPage()!=1 %}
                    <a href="{{ path('AdminAdminBundle_inchiriez_list') }}?{{ query_string }}{% if app.request.query.get('search')==1 %}{{ '&' }}{% endif %}page={{ paginator.getPreviousPage() }}" class="pagination_prev">Prev</a>
            {% endif %}
            {% for paginator_page in paginator.getLinks() %}
                {% if (paginator_page == paginator.getPage()) %}
                    <span class="active_page">{{ paginator_page }}</span>
                {% else %}
                    <a href="{{ path('AdminAdminBundle_inchiriez_list') }}?{{ query_string }}{% if app.request.query.get('search')==1 %}{{ '&' }}{% endif %}page={{ paginator_page }}">{{ paginator_page }}</a>
                {% endif %}
            {% endfor %}
            {% if paginator.getNextPage() != paginator.getPage() %}
                    <a href="{{ path('AdminAdminBundle_inchiriez_list') }}?{{ query_string }}{% if app.request.query.get('search')==1 %}{{ '&' }}{% endif %}page={{ paginator.getNextPage() }}" class="pagination_next">Next</a>
            {% endif %}
        </div>
        <div class="sep"></div>
    {% endif %}
{% endblock %}