<div class="app_search">
    {% 
        set rooms = {'0': '---', '1': '1', '2': '2', '3': '3', '4': '4', '5': '5'}
    %}
    {% 
        set floor = {'0': '---', '1': '1', '2': '2', '3': '3', '4': '4', '5': '5'}
    %}
    <form method="get" action="{{ path('DauDauBundle_dauAnnouncements') }}" id="app_search">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="padding-bottom:6px">
                    <span class="big_verdana padding_search_big">Cautare</span>
                </td>
                <td valign="middle" class="search_label">
                    Sector:&nbsp;
                </td>
                <td>
                    <select name="sector" class="width140">
                        {% for key, value in raioane %}
                            <option value="{{ key }}" {% if key==app.request.query.get('sector') %}{{ 'selected="selected"' }}{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle" class="search_label">
                    &nbsp;&nbsp;&nbsp;&nbsp;Numar odai:&nbsp;
                </td>
                <td>
                    <select name="nr_odai" class="width70">
                        {% for key, value in rooms %}
                            <option value="{{ key }}" {% if key==app.request.query.get('nr_odai') %}{{ 'selected="selected"' }}{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle" class="search_label">
                    &nbsp;&nbsp;&nbsp;&nbsp;Etaj:&nbsp;
                </td>
                <td>
                    <select name="etaj" class="width60">
                        <option value="">---</option>
                        {% for i in range(1, 18) %}
                            <option value="{{ i }}" {% if i==app.request.query.get('etaj') %}{{ 'selected="selected"' }}{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle" class="search_label">
                    &nbsp;&nbsp;&nbsp;&nbsp;Pret:&nbsp;
                </td>
                <td>
                    <input type="text" id="price" style="width:50px" name="pret"> <span class="search_label">EURO</span>
                </td>
                <td>
                    &nbsp;<a href="javascript:;" onclick="$('#app_search').submit();" class="red_button_small margin_button">Cauta acum&nbsp;<img src="../images/search.png">&nbsp;</a>
                </td>
            </tr>
        </table>
        <input type="hidden" name="search" value="1">
        <div class="sep"></div>
        <div style="font-size: 12px;">
            Tags: 
            <a href="http://www.inchiriere.md/gazda-centru" title="Gazda centru Chisinau">gazda centru</a>,
            <a href="http://www.inchiriere.md/gazda-riscani" title="Gazda riscani Chisinau">gazda riscani</a>,
            <a href="http://www.inchiriere.md/gazda-ciocana" title="Gazda ciocana Chisinau">gazda ciocana</a>,
            <a href="http://www.inchiriere.md/gazda-buiucani" title="Gazda buiucani Chisinau">gazda buiucani</a>,
            <a href="http://www.inchiriere.md/gazda-botanica" title="Gazda botanica Chisinau">gazda botanica</a>,
            <a href="http://www.inchiriere.md/gazda-posta_veche" title="Gazda posta veche Chisinau">gazda posta veche</a>,
            <a href="http://www.inchiriere.md/gazda-telecentru" title="Gazda telecentru Chisinau">gazda telecentru</a>,
            <a href="http://www.inchiriere.md/gazda-aeroport" title="Gazda aeroport Chisinau">gazda aeroport</a>,
            <a href="http://www.inchiriere.md/gazda-durlesti" title="Gazda durlesti Chisinau">gazda durlesti</a>
        </div>
    </form>
</div>